In [55]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

df_titanic = pd.read_csv('/apps/study_machinelearning/datasets/titanic_train.csv')
df_titanic.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [56]:
# 각 컬럼의 결측치 개수 확인
missing_counts = df_titanic.isnull().sum()
print(f"각 컬럼의 결측치 개수:\n{missing_counts}")

각 컬럼의 결측치 개수:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [57]:
# 'Cabin' 컬럼 제거
df_titanic = df_titanic.drop('Cabin', axis=1)
df_titanic.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S

In [58]:
df = pd.DataFrame(df_titanic)
# 수치형과 범주형 컬럼 분류
categorical_columns = df.select_dtypes(include=['object']).columns
numerical_columns = df.select_dtypes(include=['int64', 'float64']).columns

In [59]:
from sklearn.preprocessing import OneHotEncoder
# OneHotEncoder 설정
encoder = OneHotEncoder(sparse=False, drop='first')
encoded_data = encoder.fit_transform(df_titanic[categorical_columns])

/usr/local/lib/python3.8/dist-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [60]:
# 범주형 컬럼 선택
categorical_columns = ['PassengerId','Name','Sex', 'Ticket','Cabin','Embarked']
encoded_data = encoder.fit_transform(df_titanic[categorical_columns])

KeyError: "['Cabin'] not in index"

In [42]:
df_titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [43]:
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LinearRegression

# 결측치 채우기 (평균으로 채우기)
imputer = SimpleImputer(strategy='mean')
df_titanic['Age'] = imputer.fit_transform(df_titanic[['Age']])

# 머신러닝 모델을 이용한 결측치 예측 (Age 예시)
# 특성 설정 (Age의 결측치를 다른 변수들로 예측)
X_train = df_titanic[df_titanic['Age'].notnull()].drop('Age', axis=1)
y_train = df_titanic[df_titanic['Age'].notnull()]['Age']
X_test = df_titanic[df_titanic['Age'].isnull()].drop('Age', axis=1)

# 머신러닝 모델 훈련 (Linear Regression 예시)
model = LinearRegression()
model.fit(X_train, y_train)

# 결측치 예측하여 채우기
predicted_age = model.predict(X_test)
df_titanic.loc[df_titanic['Age'].isnull(), 'Age'] = predicted_age

ValueError: could not convert string to float: 'Braund, Mr. Owen Harris'

In [ ]:
encoded_columns = encoder.get_feature_names_out(categorical_columns)
df_encoded = pd.DataFrame(encoded_data, columns=encoded_columns, index=df_titanic.index)

In [ ]:
df_titanic_concated = pd.concat([df_titanic, df_encoded], axis=1)

In [29]:
df_titanic_concated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Columns: 2622 entries, PassengerId to Embarked_nan
dtypes: float64(2613), int64(5), object(4)
memory usage: 17.8+ MB

In [30]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Columns: 2611 entries, PassengerId_2 to Embarked_nan
dtypes: float64(2611)
memory usage: 17.7 MB