## imbalance 한 데이터셋 구조 변환

In [9]:
import pandas as pd
df_titanic = pd.read_csv('/apps/study_machinelearning/datasets/titanic_train.csv')
df_titanic.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [10]:
df_titanic.dropna(inplace=True)

In [11]:
#features = df_titanic.drop(columns=['Survived'])
features = df_titanic[['Age','Fare']]

label = df_titanic['Survived']
features.columns

Index(['Age', 'Fare'], dtype='object')

### 언더 샘플링

In [16]:
from imblearn.under_sampling import TomekLinks

tomek = TomekLinks()
feature_tomek, label_tomek = tomek.fit_resample(X=features, y=label)

In [18]:
len(features), len(feature_tomek)

(183, 161)

In [20]:
label.value_counts(), feature_tomek.value_counts()

(Survived
 1    123
 0     60
 Name: count, dtype: int64,
 Age   Fare
 24.0  69.3000     2
 36.0  120.0000    2
 1.0   39.0000     1
 45.0  35.5000     1
 41.0  134.5000    1
                  ..
 29.0  30.0000     1
       66.6000     1
 30.0  27.7500     1
       56.9292     1
 80.0  30.0000     1
 Name: count, Length: 159, dtype: int64)

### 오버 샘플링

In [22]:
from imblearn.over_sampling import SMOTE

smote = SMOTE()
features_smote, label_smote = smote.fit_resample(X=features, y=label)

In [24]:
len(label), len(label_smote),

(183, 246)

In [25]:
label.value_counts(), label_smote.value_counts()

(Survived
 1    123
 0     60
 Name: count, dtype: int64,
 Survived
 1    123
 0    123
 Name: count, dtype: int64)